li {
  background: lightgray;
  padding: 8px 15px;
}

.odd-li {
  background: lavender;
}

.last-li {
  background: lightgreen;
}

li button {
  margin-left: 20px;
}

.todo-list li .centered-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  margin-bottom: 0;
}
