<div>
  <div class="container">
    <div>
      <input
        type="text"
        [placeholder]="newTaskInputPlaceholder"
        [(ngModel)]="newTask"
        (input)="onChange()"
      >
      <button
        (click)="addTask()"
      >
        Dodaj
      </button>
    </div>
  </div>
  <div class="container">
    <div>
      <ul>
        <li *ngFor="let task of tasksList; let i = index">
          {{ i }}: {{ task }}
          <button
            (click)="removeTask(i)"
          >
            Usuń
          </button>
          <button
            (click)="doneTask(i)"
          >
            Zrobione
          </button>
        </li>
      </ul>
    </div>
    <div>
      Zadania wykonane
    </div>
  </div>
</div>
