/* You can add global styles to this file, and also import other style files */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: space-around;
}
ul {
  list-style: none;
  padding-left: 0;
}
.task-date {
  color: gray;
  font-size: 12px;
}

.input-field {
  display: flex;
  justify-content: center;
}
